body {
    font-family: sans-serif;
}

#main {
    min-height: 800px;
    padding: 0;
    display: flex;
    flex-flow: row;
}

#main > article {
    padding: 1em 0 0 1em;
    background-color: #F5F3F5;
    color: #302B27;
    flex: 3 1 60%;
    order: 2;
}

#main > nav {
    padding: 7px;
    background-color: #576CA8;
    flex: 1 6 20%;
    order: 1;
    max-width: 200px;
}

#main > aside {
    padding: 5px;
    flex: 1 6 20%;
    order: 3;
}

header, footer {
    display: block;
    padding: .5em 0 .5em 2em;
    background: #1B264F;
    color: #F5F3F5
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
    #main, #page {
        flex-direction: column;
    }

    #main > article, #main > nav, #main > aside {
    /* Return them to document order */
        order: 0;
    }

    #main > nav, #main > aside, header, footer {
        max-width: 100%;
        min-height: 50px;
    }
}

#navList {
        list-style-type: none;
        padding: 0;
        margin: .1em .1em .1em .25em;
}

.navLi {
    margin: 5px 0 0 0;
}

a:link {
    color: #F5F3F5;
    text-decoration: none;
}

a:visited {
    color: #F5F3F5;
}

a:hover {
    text-decoration: underline;
}